* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e9e4c7;
    margin: 0;
    padding: 0;
}

.login-page {
    display: flex;
    height: 100vh; /* Full height of the viewport */
}

.login-container {
    margin-top: 20%;
    width: 40%; /* Set the width to 40% of the screen */ 
    margin: auto; /* Center the container vertically */
    padding: 30px; /* Add some padding */
    border-radius: 8px;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}

.profile-image {
    width: auto; /* Set a fixed width for the image */
    height: 200px; /* Set a fixed height for the image */
    border-radius: 50%; /* Make the image circular */
    margin: 0 auto 40px auto; /* Center the image and add space below */
    display: block; /* Ensure the image is a block element */
    object-fit: cover; /* Ensure the image covers the circle */
}


.login-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px; /* Font size of the title */
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    background-color: white; /* White background for inputs */
}

.form-group input:focus {
    border-color: #842002;
    outline: none;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #315C94;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0056b3;
}

.image-container {
    flex: 1; /* This will take up the remaining space */
    background-image: url('https://images.unsplash.com/photo-1487190296540-b92a6b829973?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Replace with your image path */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
}


